<h1>List of songs</h1>

<table>
  <tr>
    <th>Released</th>
    <th>Title</th>
    <th>Format</th>
  </tr>

<% @works.each do |work| %>
  <tr>
    <td><%=h work.created_at %></td>
    <td><%=h work.title %></td>
    <td><%=h work.format %></td>
    <td><%= link_to 'Details', work_path(work) %>
  </tr>
<% end %>
</table>